{% extends 'Main/base.html' %}
{% load static %}

{% block head %}
{% block title %}Diabreezy{% endblock %}
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div id="dashboard">
    <!-- Navbar -->
    <div class="header">
        <p class="display-4"><b>Diabreezy Dashboard</b></p>
        <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item menu-aligner">
                        <i class="fa-solid fa-upload"></i>
                        <a href="{% url 'CBG:upload_CBG' %}" class="nav-link">Upload Readings</a>
                    </li>
                    <li class="nav-item menu-aligner">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a href="{% url 'Main:logout' %}" class="nav-link">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <h4>Welcome {{ user.username }} </h4> -->
    </div>
    <!-- End of Navbar -->

    <!-- Start of Dashboard -->
    <div class="dashboard_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mx-auto solid_line">
                    <h3><b>Diabreezy Summary</b></h3>
                    <div class="summary">
                        <p id="latestreading"><b>Latest Reading: </b></p>
                        <p id="lastfooditem"><b>Food Consumed: </b></p>
                        <p id="latestuploaddate"><b>Last Uploaded At: </b></p>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <h3><b>Glucose Reading Chart</b></h3>
                    <canvas id="myChart" class="chart_area"></canvas>
                    <section class="buttons"></section>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard_area">
        <div class="row">
            <div class="col-md-6 mx-auto solid_line">
                <h3><b>Weekly Food Nutrients Intake</b></h3>
                <canvas id="myChart2" class="piechart"></canvas>
                <section class="buttons2"></section>
            </div>
            <div class="col-md-6 mx-auto">
                <h3><b>Diabreezy Logbook</b></h3>
                <div class="m-3 w-50 mx-auto">
                    <input type="text" class="form-control" id="search" placeholder="Search food name..." onkeyup="filteredList()">
                </div>
                <table class="table table-hover logbook" id="logbook">
                    <thead>
                        <tr>
                            <th>Food Name</th>
                            <th>Change in Reading</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- End of Dashboard -->

</div>

{% else %}
<h1>Index Page</h1>
    <p>You are not logged in</p>
    <a href="{% url 'Main:login' %}">Log In</a>
{% endif %}

<script>
    var results = {{results|safe}}
    var food = {{food|safe}}
    
    // Diabreezy Summary
    var latest_reading = results[results.length - 1]['After_CBG_Reading']
    var latest_datetime = results[results.length - 1]['After_CBG_Uploaded_At']
    var measurement_unit = results[results.length - 1]['After_CBG_Measurement']
    var last_fooditem = results[results.length - 1]['Food_Name']

    document.getElementById("latestreading").innerHTML += latest_reading + ' '
    document.getElementById("latestreading").innerHTML += measurement_unit
    document.getElementById("lastfooditem").innerHTML += last_fooditem
    document.getElementById("latestuploaddate").innerHTML += latest_datetime

    // Start of Charts
    d = new Date()
    if(d.getMonth() < 10 && d.getDate() < 10) {
        today = d.getFullYear() + '/0' + parseInt(d.getMonth() + 1)  + '/0' + d.getDate()
    } else if(d.getMonth() < 10) {
        today = d.getFullYear() + '/0' + parseInt(d.getMonth() + 1)  + '/' + d.getDate()
    } else if(d.getDate() < 10) {
        today = d.getFullYear() + '/' + d.getMonth()  + '/0' + d.getDate()
    } else {
        today = d.getFullYear() + '/' + d.getMonth()  + '/' + d.getDate()
    }

    var today_readings = []
    var today_datetime = []

    for (let i = 0; i < results.length; i++) {
        if(results[i]['Before_CBG_Uploaded_At'].slice(0, 10) == today) {
            today_readings.push(results[i]['Before_CBG_Reading'])
            today_readings.push(results[i]['After_CBG_Reading'])
            today_datetime.push(results[i]['Before_CBG_Uploaded_At'])
            today_datetime.push(results[i]['After_CBG_Uploaded_At'])
        }
    }
    var weekly_dates = []

    for (let i = 0; i < 7; i++ ) {
        if (parseInt(d.getDate() - i) <= 0) {
            weekly_dates.push(d.getFullYear() + '/0' + parseInt(d.getMonth()) + '/' + parseInt(31 - i))
        } else if (parseInt(d.getDate() - i) < 10) { 
            weekly_dates.push(d.getFullYear() + '/0' + parseInt(d.getMonth() + 1) + '/0' + parseInt(d.getDate() - i))
        } else {
            weekly_dates.push(d.getFullYear() + '/0' + parseInt(d.getMonth() + 1) + '/' + parseInt(d.getDate() - i))
        }
    }

    weekly_records = []
    weekly_readings = []
    weekly_datetime = []
    food_item = []

    for (eachdate of weekly_dates) {
        for (let i = 0; i < results.length; i++) {
            if(results[i]['Before_CBG_Uploaded_At'].slice(0, 10) == eachdate) {
                weekly_records.push(results[i])
                weekly_readings.push(results[i]['Before_CBG_Reading'])
                weekly_readings.push(results[i]['After_CBG_Reading'])
                weekly_datetime.push(results[i]['Before_CBG_Uploaded_At'])
                weekly_datetime.push(results[i]['After_CBG_Uploaded_At'])
                food_item.push(results[i]['Food_Name'])
                food_item.push(results[i]['Food_Name'])
            }
        }
    }

    var halfweekly_dates = []

    for (let i = 0; i < 3; i++ ) {
        if (parseInt(d.getDate() - i) <= 0) {
            halfweekly_dates.push(d.getFullYear() + '/0' + parseInt(d.getMonth()) + '/' + parseInt(31 - i))
        } else if (parseInt(d.getDate() - i) < 10) { 
            halfweekly_dates.push(d.getFullYear() + '/0' + parseInt(d.getMonth() + 1) + '/0' + parseInt(d.getDate() - i))
        } else {
            halfweekly_dates.push(d.getFullYear() + '/0' + parseInt(d.getMonth() + 1) + '/' + parseInt(d.getDate() - i))
        }
    }
    halfweekly_readings = []
    halfweekly_datetime = []

    for (eachdate of halfweekly_dates) {
        for (let i = 0; i < results.length; i++) {
            if(results[i]['Before_CBG_Uploaded_At'].slice(0, 10) == eachdate) {
                halfweekly_readings.push(results[i]['Before_CBG_Reading'])
                halfweekly_readings.push(results[i]['After_CBG_Reading'])
                halfweekly_datetime.push(results[i]['Before_CBG_Uploaded_At'])
                halfweekly_datetime.push(results[i]['After_CBG_Uploaded_At'])
            }
        }
    }

    threshold_halfweekly = []
    for(let i = 0; i < halfweekly_readings.length; i++) {
        threshold_halfweekly.push('8.5')
    }

    threshold_daily = []
    for(let i = 0; i < today_readings.length; i++) {
        threshold_daily.push('8.5')
    }

    threshold_weekly = []
    for(let i = 0; i < weekly_readings.length; i++) {
        threshold_weekly.push('8.5')
    }

    const actions = [
    {
        name: "Today",
        handler(chart) {
            chart.data.labels = today_datetime;
            const threshold = {
                label: 'Threshold',
                data: threshold_daily,
                borderColor: "rgb(255, 0, 0)",
                backgroundColor: "rgb(255, 0, 0)",
                pointRadius: 0
            }
            const newDataset = {
                label: 'Glucose Reading',
                data: today_readings,
                borderColor: "rgb(75, 192, 192)",
                backgroundColor: "rgb(75, 192, 192)"
            };
            chart.data.datasets.pop()
            chart.data.datasets.pop()
            chart.data.datasets.push(threshold)
            chart.data.datasets.push(newDataset)
            chart.update();
        }
    },
    {
        name: "Past 4 Days",
        handler(chart) {
            chart.data.labels = halfweekly_datetime;
            const threshold = {
                label: 'Threshold',
                data: threshold_halfweekly,
                borderColor: "rgb(255, 0, 0)",
                backgroundColor: "rgb(255, 0, 0)",
                pointRadius: 0
            }
            const newDataset = {
                label: 'Glucose Reading',
                data: halfweekly_readings,
                borderColor: "rgb(75, 192, 192)",
                backgroundColor: "rgb(75, 192, 192)"
            };
            chart.data.datasets.pop()
            chart.data.datasets.pop()
            chart.data.datasets.push(threshold)
            chart.data.datasets.push(newDataset)
            chart.update();
        }
    },
    {
        name: "Past 7 Days",
        handler(chart) {
            chart.data.labels = weekly_datetime;
            const threshold = {
                label: 'Threshold',
                data: threshold_weekly,
                borderColor: "rgb(255, 0, 0)",
                backgroundColor: "rgb(255, 0, 0)",
                pointRadius: 0
            }
            const newDataset = {
                label: 'Glucose Reading',
                data: weekly_readings,
                borderColor: "rgb(75, 192, 192)",
                backgroundColor: "rgb(75, 192, 192)"
            };
            chart.data.datasets.pop()
            chart.data.datasets.pop()
            chart.data.datasets.push(threshold)
            chart.data.datasets.push(newDataset)
            chart.update();
        }
    }];

    actions.forEach((a, i) => {
        let button = document.createElement("button");
        button.id = "button"+i;
        button.innerText = a.name;
        button.classList.add('btn')
        button.classList.add('btn-outline-success')
        button.classList.add('mr-2')
        button.onclick = () => a.handler(myChart);
        document.querySelector(".buttons").appendChild(button);
    });

    const data = {
        labels: halfweekly_datetime,
        datasets: [
            {
                label: 'Threshold',
                data: threshold_halfweekly,
                fill: false,
                pointRadius: 0,
                borderColor: "rgb(255, 0, 0)",
                backgroundColor: "rgb(255, 0, 0)"
            },
            {
                label: 'Glucose Reading',
                data: halfweekly_readings,
                fill: false,
                lineTension: 0.1,
                borderColor: "rgb(75, 192, 192)",
                backgroundColor: "rgb(75, 192, 192)"
            },
        ],
        datasets2: food_item
    };
    let config = {
        type: "line",
        data: data,
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                    display: true,
                    text: 'Timestamp'
                    }
                },
                y: {
                    title: {
                    display: true,
                    text: results[0]['Before_CBG_Measurement']
                    }
                }
            },
            plugins: {
                legend: {
                    position: 'bottom',
                },
                tooltip: {
                    callbacks: {
                        beforeLabel: function(tooltipItem) {
                            if(parseInt(tooltipItem.dataIndex) % 2 == 0) {
                                return 'Before Food Reading'
                            } else {
                                return 'After Food Reading'
                            }
                        },
                        label: function(tooltipItem, data) {
                            return tooltipItem.formattedValue + ' ' + measurement_unit
                        },
                        afterLabel: function(tooltipItem, data) {
                            return 'Food Consumed: ' + food_item[tooltipItem.dataIndex]
                        }
                    },
                    bodySpacing: 7
                }
            }
        }
    }

    const ctx = document.getElementById("myChart")
    let myChart = new Chart(ctx, config)

    // Start of Food Intake Macros
    food_items = []

    for(each_food of food) {
        let total_calorie = 0
        let total_carb = 0
        let total_sugar = 0
        let total_fibre = 0
        let count = 0

        for(each_entry of weekly_records) {
            if(each_entry['Food_Name'] == each_food['Food_Name']) {
                total_calorie += each_food['Food_Calorie']
                total_carb += each_food['Food_Carb']
                total_sugar += each_food['Food_Sugar']
                total_fibre += each_food['Food_Fibre']
                count += 1
            }
        }
        if(count >= 1) {
            item = {
                'food_name': each_food['Food_Name'],
                'total_calorie': total_calorie,
                'total_carb': total_carb,
                'total_sugar': total_sugar,
                'total_fibre': total_fibre,
                'count': count
            }
            food_items.push(item)
        }
    }

    food_names = []
    total_calorie = []
    total_carb = []
    total_sugar = []
    total_fibre = []

    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    for (each_entry of food_items) {
        food_names.push(each_entry['food_name'])
        total_calorie.push(each_entry['total_calorie'])
        total_carb.push(each_entry['total_carb'])
        total_sugar.push(each_entry['total_sugar'])
        total_fibre.push(each_entry['total_fibre'])
    }

    const actions2 = [
    {
        name: "Calories",
        handler(chart) {
            chart.data.labels = food_names;
            const newDataset = {
                data: total_calorie,
                backgroundColor: barColors
            };
            chart.options.plugins.title.text = "Weekly Calorie Chart"
            chart.data.datasets.pop()
            chart.data.datasets.push(newDataset)
            chart.update();
        }
    },
    {
        name: "Carbs",
        handler(chart) {
            chart.data.labels = food_names;
            const newDataset = {
                data: total_carb,
                backgroundColor: barColors
            };
            chart.options.plugins.title.text = "Weekly Carbs Chart"
            chart.data.datasets.pop()
            chart.data.datasets.push(newDataset)
            chart.update();
        }
    },
    {
        name: "Sugar",
        handler(chart) {
            chart.data.labels = food_names;
            const newDataset = {
                data: total_sugar,
                backgroundColor: barColors
            };
            chart.options.plugins.title.text = "Weekly Sugar Chart"
            chart.data.datasets.pop()
            chart.data.datasets.push(newDataset)
            chart.update();
        }
    },
    {
        name: "Fibre",
        handler(chart) {
            chart.data.labels = food_names;
            const newDataset = {
                data: total_fibre,
                backgroundColor: barColors
            };
            chart.options.plugins.title.text = "Weekly Fibre Chart"
            chart.data.datasets.pop()
            chart.data.datasets.push(newDataset)
            chart.update();
        }
    }];

    actions2.forEach((a, i) => {
        let button = document.createElement("button");
        button.id = "button"+i;
        button.innerText = a.name;
        button.classList.add('btn')
        button.classList.add('btn-outline-success')
        button.classList.add('mr-2')
        button.onclick = () => a.handler(myChart2);
        document.querySelector(".buttons2").appendChild(button);
    });

    var xValues2 = food_names;
    var yValues2 = total_calorie;

    const data2 = {
        labels: xValues2,
        datasets: [{
                backgroundColor: barColors,
                data: yValues2
            }]
    };

    let config2 = {
        type: "pie",
        data: data2,
        plugins: [ChartDataLabels],
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: "Weekly Calorie Chart"
                },
                legend: {
                    position: 'bottom'
                },
                datalabels: {
                    color: "#ffffff"
                }
            }
        }
    }

    const ctx2 = document.getElementById("myChart2")
    let myChart2 = new Chart(ctx2, config2)

    log_dict = {}

    for(let i=0; i < results.length; i++) {
        before_CBG = results[i]['Before_CBG_Reading'] 
        after_CBG = results[i]['After_CBG_Reading']
        difference = after_CBG - before_CBG

        food_name = results[i]['Food_Name']

        if(log_dict[food_name]) {
            log_dict[food_name].push(parseFloat(difference.toFixed(1)))
        } else {
            log_dict[food_name] = [parseFloat(difference.toFixed(1))]
        }
    }

    function getAverage(array) {
        const total = array.reduce((acc, c) => acc + c, 0);
        return total / array.length;
    }

    logbook = {}
    for (var key in log_dict) {
        average = getAverage(log_dict[key])
        logbook[key] = average.toFixed(2)
    }

    var items = Object.keys(logbook).map(function(key) {
        return [key, logbook[key]];
    });
    items.sort(function(first, second) {
        return second[1] - first[1];
    });

    console.log(items)

    for(var each_item in items) {
        var table = document.getElementById('logbook')
        var row = table.insertRow(-1)

        var cell1 = row.insertCell(0)
        var cell2 = row.insertCell(-1)

        console.log()
        if (parseFloat(items[each_item][1]) >= 0) {
            cell1.innerHTML = items[each_item][0]
            cell2.innerHTML = '+ ' + items[each_item][1] + ' ' + measurement_unit
        } else {
            cell1.innerHTML = items[each_item][0]
            cell2.innerHTML = items[each_item][1]
        }
    }

    function filteredList() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('search');
        filter = input.value.toLowerCase();
        table = document.getElementById('logbook');
        tr = table.getElementsByTagName("tr");

        for(i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock %}