{% extends 'Main/base.html' %}
{% load static %}

{% block head %}
{% block title %}Diabreezy{% endblock %}
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <h1>Index Page</h1>
    <p>Hi {{ user.username }}!</p>
    <p><a href="{% url 'CBG:upload_CBG' %}">Upload CBG</a></p>
    <p><a href="{% url 'Food:upload_Food' %}">Upload Food</a></p>
    <p><a href="{% url 'Smart:upload_Smart' %}">Smart Upload</a></p>
    <p><a href="{% url 'Main:logout' %}">Log Out</a></p>
{% else %}
<h1>Index Page</h1>
    <p>You are not logged in</p>
    <a href="{% url 'Main:login' %}">Log In</a>
{% endif %}
{% endblock %}