{% extends 'Food/base.html' %}
{% load static %}

{% block head %}
{% block title %}Upload Food{% endblock %}
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>Upload Food</h1>
        <p><a href="{% url 'Main:index' %}">Home</a></p>
        <p><a href="{% url 'CBG:upload_CBG' %}">Upload CBG</a></p>
        <p><a href="{% url 'Smart:upload_Smart' %}">Smart Upload</a></p>
        {{ form.media }}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
        <p><a href="{% url 'Main:logout' %}">Log Out</a></p>
    {% else %}
    <h1>Index Page</h1>
        <p>You are not logged in</p>
        <a href="{% url 'Main:login' %}">Log In</a>
    {% endif %}
    <script src="{% static 'Food/js/script.js' %}"></script>
{% endblock %}