{% extends 'CBG/base.html' %}
{% load static %}

{% block head %}
{% block title %}Upload CBG{% endblock %}
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div id="uploadCBGMain">
    <div class="header">
        <h1>Upload CBG Page</h1>
        <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item menu-aligner">
                    <i class="fa-solid fa-house"></i>
                    <a href="{% url 'Main:index' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item menu-aligner">
                    <i class="fa-solid fa-upload"></i>
                    <a href="{% url 'Food:upload_Food' %}" class="nav-link">Upload Drinks</a>
                </li>
                <li class="nav-item menu-aligner">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    <a href="{% url 'Smart:upload_Smart' %}" class="nav-link">Smart Upload</a>
                </li>
                <li class="nav-item menu-aligner">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="{% url 'Main:logout' %}" class="nav-link">Log Out</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
    <!-- Upload Area -->
    <div id="uploaderBox" class="boxStyle">
        <form method="POST" action="{% url 'CBG:upload_CBG' %}" enctype='multipart/form-data'>
            {% csrf_token %}
            <div id="uploadArea" class="upload-area">
                <!-- Header -->
                <div class="upload-area__header">
                    <h1 class="upload-area__title">Upload CBG Reading</h1>
                    <input id="uploadTime" name="uploadTime" type="hidden" value="" />
                    <input id="submitType" name="submitType" type="hidden" value="image" />
                    <p class="upload-area__paragraph">
                    File should be an image
                    <strong class="upload-area__tooltip">
                        Like
                        <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                    </strong>
                    </p>
                </div>
                <!-- End Header -->
            
                <!-- Drop Zoon -->
                <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
                    <span class="drop-zoon__icon">
                    <i class='bx bxs-file-image'></i>
                    </span>
                    <p class="drop-zoon__paragraph">Click to browse</p>
                    <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
                    <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
                    <input name="fileInput" type="file" id="fileInput" class="drop-zoon__file-input" accept="image/*">
                </div>
                <!-- End Drop Zoon -->
            
                <!-- File Details -->
                <div id="fileDetails" class="upload-area__file-details file-details">
                    <h3 class="file-details__title">Uploaded File</h3>
            
                    <div id="uploadedFile" class="uploaded-file">
                        <div class="uploaded-file__icon-container">
                            <i class='bx bxs-file-blank uploaded-file__icon'></i>
                            <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
                        </div>
                
                        <div id="uploadedFileInfo" class="uploaded-file__info">
                            <span class="uploaded-file__name">Project 1</span>
                            <span class="uploaded-file__counter">0%</span>
                        </div>
                    </div>
                </div>
                <!-- End File Details -->
                <button id="submitBtn" onclick="getLocalTime()" class="mt-3 btn btn-primary" type="submit" disabled>Upload</button>
            </div>
        </form>
    </div>
    <!-- End Upload Area -->
    <!-- Manual Upload Area -->
    <div id="manualUpload" class="boxStyle">
        <form method="POST" action="{% url 'CBG:upload_CBG' %}" enctype='multipart/form-data'>
            {% csrf_token %}
            <h1>OR</h1>
            <h4>Enter manually</h4>
            <div class="manualFormBox">
                <div class="form-group formFields">
                    <label for="exampleFormControlInput1">Reading</label>
                    <input id="reading" name="reading" type="number" class="form-control">
                </div>
                <div class="form-group formFields">
                    <label for="exampleFormControlSelect1">Units</label>
                    <select class="form-control" id="measurement" name="measurement">
                        <option value="mgdL">mg/dL</option>
                        <option value="mmolL">mmol/L</option>
                    </select>
                </div>
            </div>
            <input id="uploadTime1" name="uploadTime1" type="hidden" value="" />
            <input id="submitType" name="submitType" type="hidden" value="manual" />
            <button id="manualSubmitBtn" onclick="getLocalTime()" class="mt-3 btn btn-primary" type="submit" disabled>Submit</button>
        </form>
    </div>
    <!-- Start of Tele Button Test -->
    <div>
        <input id="CHAT_ID" value="{{ CHAT_ID }}" type="hidden" />
        <input id="TELE_TOKEN" value="{{ TELE_TOKEN }}" type="hidden" />
        <button class="btn-primary btn" onclick="reminderTeleMsg()">Reminder Tele Msg</button>
    </div>
    <!-- End of Tele Button Test -->
    <!-- End of Manual Upload Area -->
    <div id="toastHolder">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="700" data-autohide="false">
            <div class="toast-header">
              <strong class="mr-auto">Notification</strong>
              <small>2 sec ago</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              Your image has been successfully uploaded
            </div>
        </div>
    </div>
{% else %}
<h1>Index Page</h1>
    <p>You are not logged in</p>
    <a href="{% url 'Main:login' %}">Log In</a>
{% endif %}
</div>
<script src="{% static 'CBG/js/script.js' %}"></script>
<script>

// Design By
    // - https://codepen.io/Ali-Majed/pen/BaRoyrG

    // Select Upload-Area
    const uploadArea = document.querySelector('#uploadArea');
    // Select Drop-Zoon Area
    const dropZoon = document.querySelector('#dropZoon');
    // Loading Text
    const loadingText = document.querySelector('#loadingText');
    // Slect File Input 
    const fileInput = document.querySelector('#fileInput');
    // Slect File Input 
    const manualInput = document.querySelector('#reading');
    // Select Preview Image
    const previewImage = document.querySelector('#previewImage');
    // File-Details Area
    const fileDetails = document.querySelector('#fileDetails');
    // Uploaded File
    const uploadedFile = document.querySelector('#uploadedFile');
    // Uploaded File Info
    const uploadedFileInfo = document.querySelector('#uploadedFileInfo');
    // Uploaded File Name
    const uploadedFileName = document.querySelector('.uploaded-file__name');
    // Uploaded File Icon
    const uploadedFileIconText = document.querySelector('.uploaded-file__icon-text');
    // Uploaded File Counter
    const uploadedFileCounter = document.querySelector('.uploaded-file__counter');
    // ToolTip Data
    const toolTipData = document.querySelector('.upload-area__tooltip-data');
    // Images Types
    const imagesTypes = [ "jpeg", "png", "svg", "gif"]
    // Append Images Types Array Inisde Tooltip Data
    toolTipData.innerHTML = [...imagesTypes].join(', .');

    // When (drop-zoon) has (dragover) Event 
    dropZoon.addEventListener('dragover', function (event) {
        // Prevent Default Behavior 
        event.preventDefault();

        // Add Class (drop-zoon--over) On (drop-zoon)
        dropZoon.classList.add('drop-zoon--over');
    })

    // When (drop-zoon) has (dragleave) Event 
    dropZoon.addEventListener('dragleave', function () {
        // Remove Class (drop-zoon--over) from (drop-zoon)
        dropZoon.classList.remove('drop-zoon--over');
    })

    // When (drop-zoon) has (click) Event 
    dropZoon.addEventListener('click', function () {
    // Click The (fileInput)
        fileInput.click();
    })

    // When (fileInput) has (change) Event 
    fileInput.addEventListener('change', function (event) {
        // Select The Chosen File
        const file = event.target.files[0];

        // Call Function uploadFile(), And Send To Her The Chosen File :)
        uploadFile(file);
        document.getElementById('submitBtn').disabled = false;
    })

    manualInput.addEventListener('input', function (event) {
        document.getElementById('manualSubmitBtn').disabled = false;
    })

    // Upload File Function
    function uploadFile(file) {
        // FileReader()
        const fileReader = new FileReader();
        // File Type 
        const fileType = file.type;
        // File Size 
        const fileSize = file.size;

        // If File Is Passed from the (File Validation) Function
        if (fileValidate(fileType, fileSize)) {
            // Add Class (drop-zoon--Uploaded) on (drop-zoon)
            dropZoon.classList.add('drop-zoon--Uploaded');

            // Show Loading-text
            loadingText.style.display = "block";
            // Hide Preview Image
            previewImage.style.display = 'none';

            // Remove Class (uploaded-file--open) From (uploadedFile)
            uploadedFile.classList.remove('uploaded-file--open');
            // Remove Class (uploaded-file__info--active) from (uploadedFileInfo)
            uploadedFileInfo.classList.remove('uploaded-file__info--active');

            // After File Reader Loaded 
            fileReader.addEventListener('load', function () {
            // After Half Second 
                setTimeout(function () {
                        // Add Class (upload-area--open) On (uploadArea)
                        uploadArea.classList.add('upload-area--open');

                        // Hide Loading-text (please-wait) Element
                        loadingText.style.display = "none";
                        // Show Preview Image
                        previewImage.style.display = 'block';

                        // Add Class (file-details--open) On (fileDetails)
                        fileDetails.classList.add('file-details--open');
                        // Add Class (uploaded-file--open) On (uploadedFile)
                        uploadedFile.classList.add('uploaded-file--open');
                        // Add Class (uploaded-file__info--active) On (uploadedFileInfo)
                        uploadedFileInfo.classList.add('uploaded-file__info--active');
                    }, 500) // 0.5s

                    // Add The (fileReader) Result Inside (previewImage) Source
                    previewImage.setAttribute('src', fileReader.result);

                    // Add File Name Inside Uploaded File Name
                    uploadedFileName.innerHTML = file.name;

                    // Call Function progressMove();
                    progressMove();
                })

                // Read (file) As Data Url 
                fileReader.readAsDataURL(file);
            } else { // Else

                this; // (this) Represent The fileValidate(fileType, fileSize) Function

            }
    }

    // Progress Counter Increase Function
    function progressMove() {
        // Counter Start
        let counter = 0;

        // After 600ms 
        setTimeout(() => {
            // Every 100ms
            let counterIncrease = setInterval(() => {
            // If (counter) is equle 100 
            if (counter === 100) {
                // Stop (Counter Increase)
                clearInterval(counterIncrease);
            } else { // Else
                // plus 10 on counter
                counter = counter + 10;
                // add (counter) vlaue inisde (uploadedFileCounter)
                uploadedFileCounter.innerHTML = `${counter}%`
            }
            }, 100)
        }, 600)
    }


    // Simple File Validate Function
    function fileValidate(fileType, fileSize) {
        // File Type Validation
        let isImage = imagesTypes.filter((type) => fileType.indexOf(`image/${type}`) !== -1);

        // If The Uploaded File Type Is 'jpeg'
        if (isImage[0] === 'jpeg') {
            // Add Inisde (uploadedFileIconText) The (jpg) Value
            uploadedFileIconText.innerHTML = 'jpg';
        } else { // else
            // Add Inisde (uploadedFileIconText) The Uploaded File Type 
            uploadedFileIconText.innerHTML = isImage[0];
        }

        // If The Uploaded File Is An Image
        if (isImage.length !== 0) {
            // Check, If File Size Is 2MB or Less
            if (fileSize <= 3000000) { // 3MB :)
                return true;
            } else { // Else File Size
                return alert('Please Your File Should be 2 Megabytes or Less');
            }
        } else { // Else File Type 
            return alert('Please make sure to upload An Image File Type');
        }
    }
    // :)

    function getLocalTime(){
        var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
        var localISOTime = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);
        document.getElementById('uploadTime').value = localISOTime
        document.getElementById('uploadTime1').value = localISOTime
    }

    function showToast(){
        alert("haha")
        $('.toast').toast('show');
    }

    const teleToken = document.getElementById("TELE_TOKEN").value;
    const chatID = document.getElementById("CHAT_ID").value;
    const telegramURL = 'https://api.telegram.org/bot'

    function reminderTeleMsg(){
        let message = "Have you submitted your CBG reading for today?"
        axios.post(telegramURL + teleToken + '/sendMessage?chat_id=' + chatID +'&text='+ message)
        .then(function (response) {
            console.log(response);
        })
        .catch(function (error) {
            console.log(error);
        });
    }
</script>
{% endblock %}

